* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Century Gothic";
  line-height: 130%;
}

.wrapper {
  position: relative;
  width: 1920px;
  height: 1080px;
}

.open {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-1,
.modal-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  
  background-color: #fff;
  display: flex;
  width: 1270px;
  height: 581px;
}

.img-1,
.img-2 {
  width: 661px;
  height: 581px;
}

.img-1 {
  background: url(assets/img-1.png) no-repeat;
}
.img-2 {
  background: url(assets/img-2.png) no-repeat;
}

.form-and-close {
  position: relative;
  display: flex;

  width: 609px;
  height: 581px;
}

.form-1,
.form-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 489px;
}

.form-1 {
  height: 431px;
}

.form-2 {
  height: 205px;
}

.title {
  color: #232323;
  font-size: 32px;
  font-weight: 400;
}

.title-form-1 {
  height: 89px;
}

.inputs {
  width: 453px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-name, 
.input-tel {
  width: 453px;
  height: 60px;
}

input[type="text"],
input[type="tel"] {
  width: 453px;
  height: 60px;
  padding: 12px 20px 16px;
  font-size: 20px;
  border: 1px solid #c3c2bf;
  box-shadow: 0px 0px 4px 0px rgba(148, 144, 139, 0.6);
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder {
  color: #c3c2bf;
}

input[type="text"]:focus,
input[type="tel"]:focus {
  border-color: #232323;
  box-shadow: 0;
}

.title-form-2 {
  height: 42px;
}

.description {
  height: 23px;
  color: #232323;
  font-family: Raleway;
  font-size: 18px;
  line-height: 130%;
}


/* стили для "крестика" */
#closeButton,
#closeButton2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

.close-hover {
  display: none;
}

.close-button:hover .close-default {
  display: none;
}

.close-button:hover .close-hover {
  display: block;
}

/* общие стили для кнопок */
.btn {
  width: 292px;
  height: 60px;
  color: #232323;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #232323;
}

.btn:hover {
  color: #e9ddca;
  background-color: #232323;
}

.btn:active {
  color: #232323;
  background-color: #fff;
}

/* установка длины и ширины для кнопки "вернуться на сайт" */
.return-btn {
  width: 245px;
  height: 60px;
}

/* временная кнопка */
#openModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* класс для смены модального окна */
.hidden {
  display: none;
}