* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Century Gothic";
  line-height: 130%;
}

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}


/* кнопка "Получить консультацию" */
#openModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* класс для отображения "темного" фона вокруг модального окна */
.open {
  background-color: rgba(0, 0, 0, 0.6);
}


/* Стили, примениемые к каждому из модальных окон */
.modal {
  position: absolute;
  display: flex;
  width: 1270px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #fff;
}

.img {
  width: 661px;
  height: 581px;
}

.img-1 {
  background: url(assets/img-1.png) no-repeat;
}
.img-2 {
  background: url(assets/img-2.png) no-repeat;
}

.form-and-close {
  position: relative;
  display: flex;
  width: 609px;
  height: 100%;
}

.form-1,
.form-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 489px;
  margin: auto;
}


/* Форма для заполнения данных */
.form-1 {
  height: 431px;
}

.title {
  color: #232323;
  font-size: 32px;
  font-weight: 400;
}

.title-form-1 {
  height: 89px;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 453px;
  height: 140px;
}

.input-name, 
.input-tel {
  width: 453px;
  height: 60px;
}

.input-submit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 306px;
  height: 122px;
}

.submit-description {
  color: #c3c2bf;
  font-family: Helvetica;
  font-size: 16px;
  line-height: 130%;
  height: 42px;
}

.submit-description span {
  color: #e9ddca;
  text-decoration: underline;
}

input[type="text"],
input[type="tel"] {
  width: 453px;
  height: 60px;
  padding: 12px 20px 16px;
  border: 1px solid #c3c2bf;
  box-shadow: 0px 0px 4px 0px rgba(148, 144, 139, 0.6);
  font-size: 20px;
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder {
  color: #c3c2bf;
}

input[type="text"]:focus,
input[type="tel"]:focus {
  border-color: #232323;
  box-shadow: 0;
}


/* Форма с подтверждением принятой заявки */
.form-2 {
  height: 205px;
}

.title-form-2 {
  height: 42px;
}

.description {
  height: 23px;
  color: #232323;
  font-family: Raleway;
  font-size: 18px;
  line-height: 130%;
}


/* стили для "крестика" */
#closeButton,
#closeButton2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  z-index: 10;
}

#closeButton:hover svg path,
#closeButton2:hover svg path {
  fill: #E9DDCA;
}

#closeButton:hover,
#closeButton2:hover,
.btn:hover {
  cursor: pointer;
}


/* общие стили для кнопок */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 292px;
  height: 60px;
  border: 1px solid #232323;
  color: #232323;
  background-color: #fff;
  font-size: 18px;
}

.btn:hover {
  color: #e9ddca;
  background-color: #232323;
}

.btn:active {
  color: #232323;
  background-color: #fff;
}


/* кнопка "Вернуться на сайт" */
#returnButton {
  width: 245px;
  height: 60px;
}

/* класс для смены модального окна */
.hidden {
  display: none;
}


/* адаптивный дизайн под ширину 480px */
@media screen and (max-width: 500px) {

  .open {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .form-and-close,
  .modal-1,
  .modal-2,
  .form-1,
  .form-2 {
    width: 400px;
    height: 100%;
  }

  .form-and-close {
    padding: 20px;
  }

  .img {
    display: none;
  }

  .btn {
    width: 360px;
  }

  #closeButton {
    width: 38px;
    height: 38px;
  }


  /* modal 1 */

  .modal-1 {
    height: 372px;
  }

  .form-1 {
    height: 332px;
  }

  .title-form-1 {
    height: 52px;
    font-size: 20px;
  }

  .inputs,
  .input-name, 
  .input-tel,
  input[type="text"],
  input[type="tel"] {
    width: 360px;
  }

  .inputs {
    height: 130px;
  }

  .input-submit {
    width: 360px;
    height: 100px;
  }

  .submit-description {
    font-size: 13px;
    height: 34px;
  }



  /* modal 2 */

  .modal-2 {
    height: 194px;
  }

  .form-2 {
    height: 154px;
  }
  
  .title-form-2 {
    height: 31px;
    font-size: 24px;
  }

  #returnButton {
    width: 360px;
  }
}